*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F5F5DC;
}
.logo {
    border: 1px solid black;
    color: rgba(119, 6, 6, 0.726);
    padding: 8px;
    margin-right: auto;
}
.nav{
    padding: 20px 15px;
    background-color: #b6a28eaf;
    display: flex;
    justify-content: right;
}
 ul li {
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 20px;
}
 ul li a{
    text-decoration: none;
    color: #415a02;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    position: relative;
    transition: 0.7s all linear ;
    padding: 5px 10px;
}
/*Transition for the navigation bar*/
ul li a:hover{
    color: #96a869;
}
ul li a::before{
    position: absolute;
    content: '';
    bottom:0;
    left: 100%;
    width: 0;
    height: 0;
    background-color: #E07B39;
    z-index: -1;
}
ul li a:hover::before{
    animation:ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards ;
}
@keyframes ani{
    0%{ 
        width: 0%;
        height: 1px;
        left: 50%;
    }
    50%{ 
        width: 100%;
        height: 1px;
        left: 0;
    }
    100%{ 
        width: 100%;
        height: 100%;
        left: 0;
    }
}
/*End of the transition*/

/*Page 1*/
.page-1{
    width: 100%;
    height: 880px;
    background-color:#a8866783 ;
    border-radius: 5px 5px;
}

.home-message{
    text-align: center;
    font-style: italic;
    padding-top: 300px;
    font-size: 50px;
}

#more{
    width: 100%;
    height: 880px;
    
}

.more-message{
    text-align: center;
    font-style: italic;
    padding-top: 400px;
    font-size: 50px;
    transition: 0.8s ease;
}
.more-message:hover{
    font-size: 80px;
    rotate:360deg;

}
footer{
    height:80px;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}